<div class="container">
	<h1>Expleris</h1>
	<h2>- Fulfilling People's Ventures</h2>

	<div class="col-md-12">

		<div class="col-md-8">
			<div class="col-md-4" style="background-color: gray;">
				<img src="" />
				<h3>SUSTAINABILITY</h3>
				<p>Expleris seeks to sustain both the environment, and other stuff too.</p>
			</div>
			<div class="col-md-4" style="background-color: gray;">
				<img src="" />
				<h3>FOOD SAFETY</h3>
				<p>Expleris seeks to sustain both the environment, and other stuff too.</p>				
			</div>
			<div class="col-md-4" style="background-color: gray;">
				<img src="" />
				<h3>HEALTH</h3>
				<p>Expleris seeks to sustain both the environment, and other stuff too. Expleris seeks to sustain both the environment, and other stuff too.</p>
			</div>			
		</div>

		<div class="col-md-4" style="background-color: gray;">
			<p></p>
			<p></p>
			
		</div>

	</div>
</div>