<div class="container aboutUs">
	<h1>About Expleris</h1>
	<h2>- Experience the Nordic Lifestyle</h2>

	<div class="col-md-12">

		<div class="missionContainer">
			<h3>Our Mission</h3>
			<p>To become the preferred international venture partner of first-class products and services fulfilling sustainable objectives.</p>					
		</div>

		<div class="visionContainer">
			<h3>Our Vision</h3>
			<p>To be one-step platform solution of complementary first-class products and services enhancing sustainability in businesses ‘ international growth and in consumers’ consumption choices.</p>			
		</div>

	</div>

	<div class="col-md-12" style="margin-top: 50px; text-align: center;">
		<h3>Our Values</h3>
		<p>Expleris aims at mainstreaming a sustainable business model deepest influence by the local principles found in Denmark.</p>
	</div>

	<div class="col-md-12 valueContainer">
		<div class="col-md-4 value">
			<img src="src/client/images/expleris_logo2.jpg" style="width: 25%;" />
			<h3 style="color: #00aeef;">Transparency & Reliability</h3>
			<p>Open doors and books to keep and foster honest and trustful operations, communication and partnerships.</p>
		</div>
		<div class="col-md-4 value" >
			<img src="src/client/images/expleris_logo2.jpg" style="width: 25%;" />
			<h3 style="color: #ff1561;">Safety & high quality</h3>
			<p>Superior performance resulting in outstanding products and services.</p>				
		</div>
		<div class="col-md-4 value">
			<img src="src/client/images/expleris_logo2.jpg" style="width: 25%;"/>
			<h3 style="color: #ffa100;">Cooperation & Shared values</h3>
			<p>Long-term partnerships to spread and provide well-being to all supply chain stakeholders from suppliers to end consumers.</p>
		</div>			
	</div>

	<div class="logoDesc">
		<h3>Expleris' Logo</h3>
		<p>Expleris’ logo communicates both a Nordic and a universal meaning. Through centuries and in different cultures, trees have represented strength, stability, shelter, nourishment, good fortunes and enlightenment. In Norse Mythology, from the Nordic countries, it is called ”Yggdrasil”, - the tree of life whose wisdom and knowledge are guarded by the god Odin.</p>
	</div>
</div>