
<div class="container">

<div ng-controller="brandsCtrl">
<h1>Brands Portfolio</h1>
<p>Welcome to our Brands Portfolio. Below you can browse the different partners with which we work and read about what they each offer......</p>

		<p>{{ error }}</p>

		<input type="search" placeholder="Search brand name" ng-model="brandName" />

		<div class="categoriesContainer col-md-12">
			<ul>
				<li>
					<div ng-repeat="cat in categories" class="categoryItem" ng-click="catChange(cat.category); select($index)" ng-class="{sel: $index == selected}">
						<p>{{ cat.category }}</p>
						<img style="width: 100%; height: auto;" ng-src="{{cat.img}}" />
					</div>
				</li>
			</ul>
		</div>

		<div class="brandsContainer" ng-repeat="brand in brands | filter:brandName | filter:catFilter">
			<a href="#/brand/{{brand.id}}">
				<img style="width: 100%; height: auto;" ng-src="{{ brand.img }}">
			</a>
		</div>
</div>
</div>