<div class="topic">
 <img src="src/client/images/toppic5.jpg" style="width: 100%;" />
</div>

<div class="categoryIntro">
    <h1>Dwad Czzz</h1>
    <p>The world is evolving and people in different parts of the globe have common aspirations for consuming higher quality products. They want to experience the best international gourmet dishes, chocolates, coffees, etc</p>
</div>

<div class="categoryTitle">
  
  <div class="col-md-6">
      <h3>Food & Beverages</h3>
  </div>


  <div class="col-md-6">
      <h3>Non-food</h3>
  </div>

</div>

<div class="categoryContainer">

  <div class="padding0">

      <div class="col-md-6 food padding0">

          <div class="categoryImg">
            <img src="src/client/images/nunu.jpg" />
          </div>
          <a ng-href="#brands">
            <div class="categoryDesc">
              <h2>This is a description of the food category</h2>
            </div>
          </a>

      </div>

      <div class="col-md-6 food padding0">

          <div class="categoryImg">
            <img src="src/client/images/espresso.jpg" />
          </div>
          <a ng-href="#brands">
            <div class="categoryDesc">
              <h2>This is a description of the non-food category</h2>
            </div>
          </a>
      
      </div>  

  </div>

</div>