<div class="topicCat">

    <div class="outer">

        <div class="categoryIntro">

            <div class="categoryIntroContent">

                <h1>The Products You Love</h1>
                <p>The world is evolving and people in different parts of the globe have common aspirations for consuming higher quality products.</p>
                <p>Expleris wants to be part of this development and would like to spread the high standards in quality, healthiness, safety, innovation, and design of goods from Nordic countries and other international markets.</p></br></br>
                <img src="src/client/images/arrow.png" alt="arrow.png" />

            </div>

            <div class="line"></div>
            
            <div class="col-md-12 categoryTitle">

                <div class="col-md-6">

                    <a href="#brands"><h3>Food & Beverages</h3></a> 

                </div>

                <div class="col-md-6">

                    <a href="#non-food"><h3>Non-food products</h3></a>
                
                </div>

            </div>

        </div>

    </div>

</div>

<div class="categoryContainer">

    <div class="padding0">

        <div class="col-md-6 food padding0" style="border-right: 3px solid black;">

            <div class="categoryImg">

              <img src="src/client/images/500x1000.jpg" alt="foods and beverages"/>

            </div>

            <a ng-href="#brands">

              <div class="categoryDesc">

                <h2>This is a description of the food category</h2>
              
              </div>
            
            </a>

        </div>

        <div class="col-md-6 food padding0">

            <div class="categoryImg">

                <img src="src/client/images/500x100.jpg" alt="non-food"/>

            </div>

            <a ng-href="#brands">

                <div class="categoryDesc">

                    <h2>This is a description of the non-food category</h2>
                
                </div>

            </a>
        
        </div>  

    </div>

</div>