<div class="topicCat">

    <div class="outer">

        <div class="categoryIntro">

            <div class="categoryIntroContent">

                <h1>Products You Love</h1>
                <div class="line"></div>
                <p>With markets across the globe evolving rapidly, a common trend amongst consumers has become the aspiration for enjoying higher quality products. There is a growing demand for information about the product background and origin, and a heightened consumption experience.</p>
                <p>Expleris intends to be a part of this development and would like to spread the high standards in quality, healthiness, safety and innovation from Nordic countries and other international markets. Our portfolio is distinguished by outstanding quality and international appeal to a wide variety of market segments, from the most sophisticated consumers to the health-concerned busy urbanites.</p>
                </br></br>
                <img src="src/client/images/arrow.png" alt="arrow.png" />

            </div>

        </div>

    </div>

</div>

<div class="categoryContainer">

    <div class="padding0">

        <div class="col-md-6 food padding0" style="border-right: 3px solid black;">

            <div class="categoryImg">

              <img src="src/client/images/FoodBeverages.jpg" alt="foods and beverages"/>

            </div>

            <a ng-href="#brands">

              <div class="categoryDesc">

                <h2>Foods & Beverages</h2>
              
              </div>
            
            </a>

        </div>

        <div class="col-md-6 food padding0">

            <div class="categoryImg">

                <img src="src/client/images/NonFoods.jpg" alt="non-food"/>

            </div>

            <a ng-href="#nonfood">

                <div class="categoryDesc">

                    <h2>Non-food Products</h2>
                
                </div>

            </a>
        
        </div>  

    </div>

</div>