<div class="topic">
 <img src="src/client/images/toppic5.jpg" style="width: 100%;" />
</div>

<div class="contactContainer">

  <div class="chinaContainer">
    
      <div class="col-md-6 map1">

        <div class="overlay" onClick="style.pointerEvents='none'"></div>
        <iframe  class="googlemap" src="http://regiohelden.de/google-maps/map_en.php?hl=en&amp;q=Kung%20Yip%20Street%20Kwai%20Chung%2C%20NT%20Hong%20Kong+(Hong%20Kong%20Office)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    
      </div> 

      <div class="col-md-6 contactBox">

        <div class="contactInfo">

            <h3>Office in China</h3>
            <p>Flat 12, 23/F</br>Wah Fat Industrial Building No 10-14, </br> Kung Yip Street Kwai Chung, NT, Hongkong.</p>
            <h4>Blahbahl@gmail.com</h4> 
            
        </div>

      </div>      

  </div>

  <div class="denmarkContainer">

      <div class="col-md-6 map">

        <div class="overlay" onClick="style.pointerEvents='none'"></div>
        <iframe class="googlemap" src="http://regiohelden.de/google-maps/map_en.php?hl=en&amp;q=M%C3%B8llevangs%20Alle%20142%2C%208200%20Aarhus%20N%20Denmark+(Danish%20Office)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>

      </div>

      <div class="col-md-6 contactBox">

        <div class="contactInfo">

            <h3>Office in Denmark</h3>
            <p> Møllevangs Alle 142, 8200 Aarhus N</p>     
            <h4>Blahbahl@gmail.com</h4>

        </div>
      
      </div>  

  </div>

</div>