<div class="topic"></div>

<div class="container">

  
  <div class="col-md-12 valueContainer">
  
  <iframe class="map" src="https://maps.google.com/maps?hl=en&q=Møllevangs Alle 142, 8200 Aarhus N&ie=UTF8&t=roadmap&z=6&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small></small></div></iframe>

	  <div class="col-md-6 mapbox" >
	   <img src="src/client/images/building.png" style="width: 25%;" />
	   <h3>Office in Hong kong</h3>
	    <p> 
	     Flat 12, 23/F </br>
	     Wah Fat Industrial Building No 10-14, </br>
	     Kung Yip Street Kwai Chung, NT, Hongkong.
	    </p>
	    <h4> Email: blahbahl@gmail.com </h4> 
	  </div>      

  </div>

  <div class="col-md-12 mapContainer">

  <iframe class="map" src="https://maps.google.com/maps?hl=en&q=Møllevangs Alle 142, 8200 Aarhus N&ie=UTF8&t=roadmap&z=6&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small></small></div></iframe>
	  
	  <div class="col-md-6 mapbox " >
	   <img src="src/client/images/building.png" style="width: 25%;" />
	   <h3>Office in Denmark</h3>
	    <p> 
	     Møllevangs Alle 142, 8200 Aarhus N
	    </p>
	    <h4> Email:  blahbahl@gmail.com </h4>
	  </div>  

 </div>

</div>