<div class="topic">
	
	<img src="src/client/images/TopBanner350.jpg" style="width: auto;" alt="foods and beverages" />

</div>

<div class="categoriesBackground">

	<div class="container">

		<h2>Foods & Beverages</h2>

		<div class="line"></div>

		<div class="categoriesContainer">
			
			<ul>
				<li>
					
					<div ng-repeat="cat in foodCategories" class="categoryItem">
						<div class="foodcategoryImg">
							<img ng-src="{{cat.img}}" alt="category image" />
							
						</div>			
						<h4>{{cat.category}}</h4>
						<p>{{cat.desc}}</p>	

						
							<div class="contactUsNow">
									<h3>Interested in this product?</h3>
									<h5>Contact us for more information.</h5>
									<a href="#contactUs"><h6>Contact</h6></a>
							</div>
					</div>
					
					
				</li>
			</ul>

			<div class="col-md-12" ng-include src="'src/client/css/jquery-logo-slider-ticker/index.html'"></div>
		
		</div>		

	</div>	

</div>

