<div class="footerTop">
	<div  class="col-md-12">
		<div class="socialMedia col-md-4">
		<h4>Join us on</h4>
			<ul>
				<li class="facebookIcon">
					<a href="https://www.facebook.com/expleris.com?fref=ts">
						<img src="src/client/images/facebook.png" />
					</a>
				</li>
				<li class="linkedinIcon">
					<a href="https://www.instagram.com/expleris.com?fref=ts">
						<img src="src/client/images/linkedinIcon.png" />
					</a>
				</li>
				<li class="instagramIcon">
					<a href="https://www.instagram.com/expleris.com?fref=ts">
						<img src="src/client/images/instagram.png" />
					</a>
				</li>
			</ul>
		</div>
		
		<div class="footerContact col-md-4">
			<h4>Contact Us!</h4>
			<p>Blahbahl@gmail.com </p>
			<p>Blahbahl@gmail.com </p>
		</div>
	</div>
		
</div>

<div class="middleStripe"></div>

<div class="footerBottom">
	<p>© 2015 EXPLERIS ApS - All rights reserved.</p>	
</div>