<div class="footerTop">

	<div class="col-md-12">

		<div class="col-md-4 socialMedia">

		<h5>Join us on</h5>

			<ul>
				<a href="https://www.facebook.com/expleris.com?fref=ts" target="_blank">
					<li> 					
						<img src="src/client/images/facebook.png" alt="facebook" />					
					</li>
				</a>
				<a href="https://www.instagram.com/expleris.com?fref=ts" target="_blank">
					<li>					
						<img src="src/client/images/linkedinIcon.png" alt="linkedIn" />					
					</li>
				</a>
				<a href="https://www.instagram.com/expleris.com?fref=ts" target="_blank">
					<li>
						<img src="src/client/images/instagram.png" alt="instagram" />					
					</li>
				</a>
			</ul>

		</div>
		
		<div class="col-md-4 footerContact">

			<h5>Contact us</h5>
			<p><a ng-href="#contactUs">expleris@gmail.com</a></p>
			<p><a ng-href="#contactUs">sales@gmail.com</a></p>

		</div>

	</div>
		
</div>

<div class="middleStripe"></div>

<div class="footerBottom">

	<p>© 2015 EXPLERIS ApS - All rights reserved.</p>	

</div>