<div id="myCarousel" class="carousel slide">
<!-- Indicators -->
    <div class="indicators">		
      	 <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    </div>
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('src/client/images/1.jpg');"></div>
            <div class="carousel-caption">
                <h2>Expleris</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('src/client/images/2.jpg');"></div>
            <div class="carousel-caption">
                <h2>Nordic</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('src/client/images/3.jpg');"></div>
            <div class="carousel-caption">
                <h2>Fulfillment</h2>
            </div>
        </div>
    </div>
    <a class="left carousel-control" data-target="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" data-target="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<!-- Main Content -->
<div class="container">
    <div class="col-md-12 boxContainer">
        <div class="col-md-4 homeBox">
            <img src="src/client/images/expleris_logo.png">
            <h1>Why EXPLERIS?</h1>
            <p>Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag qwfadwadadBlah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag qwfadwadad</p>
        </div>
         <div class="col-md-4 homeBox borderLine">
            <img src="src/client/images/expleris_logo.png">
            <h1>Why Nordic?</h1>
            <p>Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag qwfadwadadBlah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag qwfadwadad</p>
        </div>
         <div class="col-md-4 homeBox">
            <img src="src/client/images/expleris_logo.png">
            <h1>Why Venture?</h1>
            <p>Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag qwfadwadadBlah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag Blah blah blah blag qwfadwadad</p>
        </div>
    </div>
</div>