<div id="myCarousel" class="carousel slide">
<!-- Indicators -->
    <div class="indicators">		
      	 <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    </div>
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('src/client/images/1.jpg');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('src/client/images/2.jpeg');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('src/client/images/3.jpeg');"></div>
        </div>
    </div>
    <a class="left carousel-control" data-target="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" data-target="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<!-- Main Content -->

<div class="container">
    <div class="col-md-12 boxContainer">
        <div class="col-md-4 homeBox">
            <div class="circular">
                <img src="src/client/images/expleris.png">
            </div>    
            <h2>Why Expleris?</h2>
            <p>Provides best customers’ experience through a high end complementary product portfolio.
               Enhancing value creation to all our supply chain partners
            </p>
        </div>
         <div class="col-md-4 homeBox borderLine">
            <div class="circular">
                <img src="src/client/images/scandinavia.png">
            </div>
            <h2>Why Nordic?</h2>
            <p>Home of Michelin starred restaurants!
                Passionate artisan, skilled craftsmanship, heritage and authenticity 
                Quality you can trust
            </p>
        </div>
         <div class="col-md-4 homeBox">         
            <div class="circular">
                <img src="src/client/images/venture.png">
            </div>       
            <h2>Why Venture?</h2>
            <p>Joining forces to fulfill successful ventures
               Venturing with a likeminded purpose
               Embracing new opportunities 
            </p>
        </div>
    </div>
</div>