<div class="navbar navbar-default navbar-static-top" ng-controller="headerCtrl">
	<div class="navbar-inner">
		<div class="container">
			<a href="#home" class="navbar-brand">
				<img alt="Expleris" class="logo" src="src/client/images/expleris_logo1.png" />
			</a>
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li ng-class="{ active: isActive('/brands')}" class="dropdown">
							<a href="#brands" class="dropdown-toggle" data-toggle="dropdown">Brands</a>
							<ul class="dropdown-menu">
								<li ng-repeat="brand in brands">
									<a href="#/brand/{{brand.id}}">
										{{brand.name}}
									</a>
								</li>			
							</ul>
						</li>
						<li ng-class="{ active: isActive('/services')}"><a href="#services">Services</a></li>
						<li ng-class="{ active: isActive('/aboutUs')}"><a href="#aboutUs">Abous Us</a></li>
						<li ng-class="{ active: isActive('/news')}"><a href="#news">News & Events</a></li>
						<li ng-class="{ active: isActive('/contactUs')}"><a href="#contactUs">Contact Us</a></li> 	
					</ul>
				</div>
			</div>
		</div>
</div>