<div class="topic">
	
	<img src="src/client/images/nature.jpg" alt="news and events" />

</div>

<div class="container">

	<div class="col-md-12">

		<div class="col-md-8 newsContainer">

			<h2>News</h2>
	
			<div ng-repeat="newsItem in news" class="col-md-12 newsInstance">

				<div class="col-md-2 newsDateTime">
					
					<p class="bold">{{newsItem.date}}. {{newsItem.month}}</p>
					<span>{{newsItem.time}}</span>
				
				</div>
				
				<div class="col-md-3 newsImg">
					
					<img ng-src="{{newsItem.img}}" alt="news item image" />
				
				</div>
				
				<div class="col-md-5 newsDesc">
					
					<h2><a href="">{{newsItem.title | limitTo: 20}}{{newsItem.title.length > 20 ? '...' : ''}}</a></h2>
					<p>{{newsItem.bodytext | limitTo: 80}}{{newsItem.bodytext.length > 80 ? '...' : ''}}</p>
				
				</div>
				
				<a href="#/news/{{news.id}}">
				
					<div class="col-md-2 newsInfo">
						
						<h4>Read More</h4>
					
					</div>
				
				</a>

			</div>

		</div>

		<div class="col-md-4 eventsContainer">

			<h2>Events</h2>

			<div class="eventFilter">
				
				<ul>
					<li ng-repeat="monthItem in months" ng-click="monthChange(monthItem.month); select($index)" ng-class="{lit: $index == selected}">{{monthItem.month}}</li>
				</ul>

			</div>

			<p id="eventMsg">{{eventMessage}}</p>

			<div ng-repeat="event in events | filter:monthFilter" class="col-md-10 eventInstance">
				
				<div class="col-md-12 eventImg">
					
					<img ng-src="{{event.img}}" alt="event image" />
				
				</div>
				
				<div class="col-md-12 eventDesc">
					
					<h3>host: {{event.host}}</h3>
					<a href=""><h2>{{event.title}}</h2></a>
					<p>{{event.bodytext | limitTo: 60}}{{event.bodytext.length > 60 ? '...' : ''}}</p>
				
				</div>
				
				<a href="#/event/{{event.id}}">
				
					<div class="col-md-6 eventInfo">
						
						<p>Read More</p>
					
					</div>
				
				</a>
				
				<div class="col-md-6 eventDateTime">
					
					<p><span class="bold">{{event.month}} {{event.date}}</span> {{event.time}}</p>
				
				</div>
			
			</div>

		</div>

	</div>

</div>