<div class="topic">
 <img src="src/client/images/Skydive1.jpg" />
</div>

  <div class="contentWrapper">

    <div class="container">

    <div class="col-md-12">

      <div class="col-md-5 missionContainer">
        
          <h2 class="bold">Our Mission</h2>
          <p style="font-size: 13pt;">To be a one-stop platform for enhancing and sustaining our partners’ international growth and satisfying consumers’ lifestyle choices.</p>     

      </div>

      <div class="col-md-2"></div>

      <div class="col-md-5 visionContainer">

          <h2 class="bold">Our Vision</h2>
          <p style="font-size: 13pt;">Become a preferred international venture partner and a leading platform for distributing complementary first-class products.</p>   

      </div>

    </div>

    </div>

  </div>


  <div class="aboutUsImage">
      <div class="col-md-4 coreValues">
        <h1 class="bold">CORE VALUES</h1>
        <p>Expleris aims to mainstream a sustainable business model deeply influenced by the local principles found in Danish society.</p>
        <img src="src/client/images/arrow.png" />
      </div>
  </div>


  <div class="container">

    <div class="valueContainer col-md-12">
    

        <div class="col-md-4 value">
         <img src="src/client/images/hand.png" style="width: 34%;" />
         <h3 class="bold">Safety & high quality</h3>
         <p>To uphold a high standard and performance that ensure we provide outstanding products and services.</p>
        </div>
        <div class="col-md-4 value">
         <img src="src/client/images/shield1.png" style="width: 20%;" />
         <h3 class="bold">Collaboration & Shared Values</h3>
         <p>To spread the best practices and provide wellbeing to all supply chain stakeholders from suppliers to end consumers.</p>    
        </div>
        <div class="col-md-4 value">
         <img src="src/client/images/bulb.png" style="width: 20%;"/>
         <h3 class="bold">Innovation & optimization</h3>
         <p>Aligning technology and creativity with the best local expertise, natural ingredients and standards to offer a competitively differentiated product portfolio.</p>
        </div>   
    
    </div>

  </div>

  <div class="logoDescContainer">

    <div class="container">

      <div class="col-md-4 logoDesc">
        <h1 class="bold">Expleris' Logo</h1>      
        <p>Expleris’ logo communicates both a Nordic and a universal meaning.</br> </br>Through centuries and in different cultures, trees have represented strength, stability, shelter, nourishment, good fortunes and enlightenment.</p>
      </div>

    </div>

  </div>

