<div class="topic">

    <img src="src/client/images/topBan.jpg" style="width: auto;" alt="services" />
    
</div>

<div class="contentWrapper">

    <div class="container">

        <div class="col-md-12 serviceContainer">

            <div class="col-md-5">
              
                <h2 class="bold">Expleris</h2>
                <p>We aim to provide our clients with a high end portfolio of organic and natural products whilst contributing to the international market expansion of our partners. We strive to deliver long term health benefits with professionalism and reliability.</p>     

            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5">

                <h2 class="bold">The Nordic Values</h2>
                <p>The Nordic countries have become a synonym of economic development and exceptional living standards. Leading in global competitiveness and efficient anti-corruption practices, it is here that you will find some of the best manufacturers following high quality and safety standards.</p>   

            </div>

        </div>

    </div>

</div>

  <div class="line" style="margin-bottom: 20px;"></div>

  <div class="servicesInfographic">

      <img src="src/client/images/infograph.jpg" alt="infographic" />

  </div>


  <div class="servicesImage">

      <div class="col-md-4 whyVenture">

          <h1 class="bold">GUIDED VENTURE</h1>
          <p>We believe ventures are a lifestyle and can be accomplished successfully through the cooperation of likeminded people. We encourage you to embrace new opportunities and realize your full potential for global growth as we expand your horizons to new markets and customer bases.</p>
     
      </div>
  
  </div>


  