* {
    margin: 0;
}
html, body {
    height: 100%;
}

/* Footer positioning */

#wrapper {

	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
}

.footer, .push {
    height: 200px;
}

.footer {
  background-color: gray;
}

/* Dropwdown styles */

.dropdown-menu > li > a {
    display: inline-block !important;
    float: left;
 }

.open > ul {
    display: inline-flex !important;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: inline-flex !important;
    float: left;
  }
}