<p>Products</p>
<h1>Welcome to Mordor, may you enjoy your journey.</h1>

		{{ error }}

		<input type="search" placeholder="Search product name" ng-model="productName" />

		<ul>
			<li ng-repeat="categoryObj in categories">
				<input type="checkbox" ng-click="categoryChange(categoryObj.category)" /> {{ categoryObj.category }} 
			</li>
		</ul>

		<table>
			<tr>
				<th>Name</th>
				<th>Description</th>
			</tr>
			<tr ng-repeat="product in products | filter:productName">
				<td>{{product.name}}</td>
				<td>{{product.description}}</td>
			</tr>
		</table>
