
<h1>Products</h1>

		{{ error }}

		<input type="search" placeholder="Search product name" ng-model="productName" />

		<ul>
			<li ng-repeat="catObj in categories">
				<input type="checkbox" ng-click="catChange(catObj.category)" /> {{ catObj.category }} 
			</li>
		</ul>

		<p>Name</p>
				<p>Description</p>

		<div class="col-md-4" style="background-color: gray; margin-left: 10%;" ng-repeat="product in products | filter:productName">
				
		
		
	            <p>{{product.name}}</p>
				<p>{{product.description}}</p>

		</div>
