/* COLORS: 

Blues:

  light: #00aeef

  #182640

Pinks:

  #ff1561

  #730a2c

Yellows:

  #fff200

  #ffa100

Golds:

  Regular: #cfb53c
  
  Rosa: #d9a792

Grays:

  #f2f2f2

  #e4e4e4

  #1c1c1c

*/

@font-face {
  font-family: CaviarDreams;
  src: url(fonts/caviar_dreams/CaviarDreams.ttf);
  font-family: Prototype;
  src: url(fonts/prototype/Prototype.ttf);
}

* {
  margin: 0;
  list-style: none;
}

html, body {
  font-family: Helvetica;
  height: 100%;
}

body {
  background-color: #f6f6f6;
}

.container {
  padding-bottom: 70px;
  background-color: white;
  margin-top: 40px;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
}

html {
  overflow-y: scroll;
}

.shade {
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.75);
}

.border-line {
  border: 1px solid gray;
}

/* FOOTER STYLES */
/* Footer positioning */

#wrapper {
	min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

.footer, .push {
  height: 258px;
}

.footer {
  margin-top: 50px;
  background-repeat: repeat;
}

/* Footer design */

.footerTop {
  background-color: #1c1c1c;
  height: 197px;
}

  .footerContact {
    text-align: center;
    color: white;
  }

  .socialMedia {
    text-align: center;
    margin-left: 15%;
  }

  .socialMedia h4 {
    color: white;
  }

  .socialMedia ul {
    list-style-type: none; 
    padding: 0;  
  }

  .socialMedia ul li {
    margin-left: 3%;
    margin-right: 3%;
    display: inline; 
  }

    .instagramIcon img:hover {
      -webkit-filter:brightness(500%);
    }

    .facebookIcon img:hover {      
      -webkit-filter:brightness(500%);
    }

    .linkedinIcon img:hover {      
      -webkit-filter:brightness(1000%);
    }


.footerBottom {
  height: 70px;
  color: #80807f;
  background-color: #262626;
}

.footerBottom p {
  margin-left: 5%;
  padding-top: 25px;
}

.middleStripe {
  height: 1px;
  /* COLORED */
  background: #00aeef; 
  background: -moz-linear-gradient(left,  #00aeef 0%, #fff200 33%, #ff1561 64%, #00aeef 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00aeef), color-stop(33%,#fff200), color-stop(64%,#ff1561), color-stop(100%,#00aeef)); 
  background: -webkit-linear-gradient(left,  #00aeef 0%,#fff200 33%,#ff1561 64%,#00aeef 100%);
  background: -o-linear-gradient(left,  #00aeef 0%,#fff200 33%,#ff1561 64%,#00aeef 100%); 
  background: -ms-linear-gradient(left,  #00aeef 0%,#fff200 33%,#ff1561 64%,#00aeef 100%); 
  background: linear-gradient(to right,  #00aeef 0%,#fff200 33%,#ff1561 64%,#00aeef 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#00aeef',GradientType=1 );

  /* GOLD */
  background: #6d5c0b; 
  background: -moz-linear-gradient(left,  #6d5c0b 2%, #d9c35d 23%, #d9c35d 23%, #d9c35d 28%, #6d5c0b 51%, #d9c35d 77%, #6d5c0b 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(2%,#6d5c0b), color-stop(23%,#d9c35d), color-stop(23%,#d9c35d), color-stop(28%,#d9c35d), color-stop(51%,#6d5c0b), color-stop(77%,#d9c35d), color-stop(100%,#6d5c0b));
  background: -webkit-linear-gradient(left,  #6d5c0b 2%,#d9c35d 23%,#d9c35d 23%,#d9c35d 28%,#6d5c0b 51%,#d9c35d 77%,#6d5c0b 100%); 
  background: -o-linear-gradient(left,  #6d5c0b 2%,#d9c35d 23%,#d9c35d 23%,#d9c35d 28%,#6d5c0b 51%,#d9c35d 77%,#6d5c0b 100%);
  background: -ms-linear-gradient(left,  #6d5c0b 2%,#d9c35d 23%,#d9c35d 23%,#d9c35d 28%,#6d5c0b 51%,#d9c35d 77%,#6d5c0b 100%); 
  background: linear-gradient(to right,  #6d5c0b 2%,#d9c35d 23%,#d9c35d 23%,#d9c35d 28%,#6d5c0b 51%,#d9c35d 77%,#6d5c0b 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d5c0b', endColorstr='#6d5c0b',GradientType=1 ); 
}

/* NAV STYLES */

.headerContainer {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  font-size: 13pt;
  height: auto;
}

.navbar-nav li a {
  margin: 40px 20px;
  padding: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d9a792;
}

.borderSlide:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.borderSlide:hover:after {
  width: 100%;
  background: #d9a792;
}

/* overrides Bootstrap*/
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  background-color: white;
}

.navbar-inner {
  background-color: white;
}

.navbar {
  margin-bottom: 0;
}

/* Dropwdown styles */


ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
  animation-name: slidenavAnimation;
  animation-duration:.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration:.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration:.4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0px 0px 0px rgba(0,0,0,0) !important;
}

.dropdown-menu li {
  margin-top: 16px;
  margin-left: 10px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-right: 30px;
  text-align: left;
  border-color: transparent;
  color: #333333;
} 

.dropdown-menu > li > a {
  margin: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: transparent;

}

/* HOME PAGE STYLES */

/* home page carousel */
.carousel {
  height: 50%;
}
.fill {
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.90);
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.90);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.90);
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
    height: 460px;
}

.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-control.left {
    background-image: none!important ;
    height: 460px; 
}

.carousel-control.right {
    background-image: none!important ;
    height: 460px; 
}

.carousel-indicators {
    z-index: 2;    
}

.indicators {
    z-index: 1;
    width: 20%;
    margin-left: 40%;
}

/* home page boxes */

.boxContainer {
  margin: 5% 0%;
  text-align: center;
}

.homeBox {
   height: 300px;
}

.circular img{
  padding: 0;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}

.homeBox {
  filter: saturate(20%);
  -webkit-filter: saturate(20%);
  -moz-filter: saturate(20%);
  -o-filter: saturate(20%);
  -ms-filter: saturate(20%);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.homeBox:hover {
  filter: saturate(130%);
  -webkit-filter: saturate(130%);
  -moz-filter: saturate(130%);
  -o-filter: saturate(130%);
  -ms-filter: saturate(130%);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.borderLine {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

/* BRANDS PAGE STYLES */

/* category styles */

.categoriesContainer {
  text-align: center;
  background-color: #e4e4e4;
}

.categoryItem {
  overflow: hidden; 
  width: 13%; 
  height: 100px; 
  margin: 3%; 
  float: left;
}

.sel {
    color: red;
}

.searchBrand {
  float: right;
}

/* brands styles */

.brandsContainer {
  overflow: hidden; 
  background-color: gray; 
  width: 15%; 
  height: 200px; 
  margin: 2.5%; 
  float: left;
}

/* ABOUT US STYLES */

.aboutUs h1 {
  color: #182640;
}

.aboutUs h3 {
  margin-left: 20px;
  margin-top: 20px;
}

.aboutUs p {
  margin: 0;
  text-align: left;
}

.visionContainer { 
  padding-left: 2%;
  margin-top: 50px;
  border-left: 1px solid #ffa100;
}

.missionContainer {
  padding-left: 2%;
  margin-top: 50px;
  border-left: 1px solid #ffa100;
}

.valueHeadline {
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e4e4e4;
}

.valueHeadline h4, .valueHeadline p {
  margin-top: 0;
  text-align: center;
}

.valueContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 10px;

}

.value {
  margin-top: 10px;
}

.logoDesc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* NEWS & EVENTS STYLES */
/* News Styles */

.newsContainer {

}

.newsInstance {
  margin-bottom: 20px;
  height: 100px; 
}

  .newsDateTime {
    text-align: center;
    height: 100px;
    background-color: #80807f;
    color: white;
  }

  .newsDateTime p {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 12pt;
  }

  .newsDesc {
    padding: 0;
    height: 100px;
    background-color: #e4e4e4;
  }

  .newsDesc h3 {
    color: #182640;
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .newsDesc h2 {
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .newsDesc p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
  }

  .newsImg {
    padding: 0;
    overflow: hidden;
    height: 100px;
    background-color: #e4e4e4;
  }

  .newsImg img {
    width: 100%;
  }

  .newsInfo {
    text-align: center;
    color: white;
    height: 100px;
    background-color: #d9a792;
  }

  .newsInfo:hover {
    color: white;
    height: 100px;
    background-color: #ffa100;
  }

  .newsInfo h4 {
    padding-top: 20px;
  }

/* Events Styles */

.eventFilter ul {
  padding: 0;
  height: 110px;
}

.eventFilter ul li {
  text-transform: uppercase;
  float: left;
  height: 30px;
  width: 13%;
  margin: 5px;
  padding: 5px;
  background-color: #e4e4e4;
  text-align: center;
  color: white;
}

.lit {
  background-color: #80807f !important;
}

.eventsContainer {

}

.eventInstance {
  margin-bottom: 20px;
  margin-left: 5%;
  padding: 0;
}

  .eventImg {
    height: 150px;
    overflow: hidden;
    padding: 0;
  }

  .eventDesc {
    padding: 0;
    background-color: #e4e4e4;
  }

  .eventDesc h3 {
    color: #182640;
    font-size: 10pt;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .eventDesc h2 {
    font-size: 14pt;
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .eventDesc p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
  }

  .eventInfo {
    height: 30px;
    text-align: center;
    color: white;
    background-color: #d9a792;
  }

  .eventInfo:hover {
    color: white;
    background-color: #ffa100;
  }

  .eventInfo p {
    margin: 0;
    margin-top: 6px;
    font-size: 10pt;
  }

  .eventDateTime {
    height: 30px;
    background-color: #80807f;
  }

  .eventDateTime p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 10pt;
  }

/* CONTACT US STYLES */

.topic {
  overflow: hidden;
  height: 250px;
  width: 100%;
  background-color: black;
}

.map {
  float: right;
  height: 340px;
  margin-top: 80px;
  margin-bottom: 35px;

}

.mapbox {
  margin-top: 70px;

}

.mapContainer {
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid #e4e4e4;
}

.googlemap {
  width: 70%;
  height: 70%;
  border-style: solid;
  border-color: white;
  -moz-box-shadow:     0 0 4px #000000;
  -webkit-box-shadow:  0 0 4px #000000;
  box-shadow:         0 0 4px #000000;

}

.emilimg{
  width: 50px;
  margin-right: 10px;
}

/* RESPONSIVE STYLES */

@media(max-width:767px) {
    
    .carousel .carousel {
        height: 70%;
    }
}

