/* COLORS: 

Blues:

  light: #00aeef

  #182640

Pinks:

  #ff1561

  #730a2c

Yellows:

  #fff200

  #ffa100

Golds:
  
  #d9a792

Grays:

  #f2f2f2

  #e4e4e4

  #1c1c1c

*/

@font-face {
  font-family: CaviarDreams;
  src: url(fonts/caviar_dreams/CaviarDreams.ttf);
  font-family: Prototype;
  src: url(fonts/prototype/Prototype.ttf);
}

* {
  margin: 0;
  list-style: none;
}

html, body {
  font-family: Helvetica;
  height: 100%;
}

html {
  overflow-y: scroll;
}

.shade {
  -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.75);
}

.border-line {
  border: 1px solid gray;
}

/* FOOTER STYLES */
/* Footer positioning */

#wrapper {
	min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

.footer, .push {
  height: 258px;
}

.footer {
  margin-top: 50px;
  background-repeat: repeat;
}

/* Footer design */

.upperHalf {
  background-color: #1c1c1c;
  height: 197px;
}

.lowerHalf {
  height: 70px;
  color: #80807f;
  background-color: #262626;
}

.lowerHalf p {
  margin-left: 5%;
  padding-top: 25px;
}

.middleStripe {
  height: 2px;
  /* COLORED */
  background: #00aeef; 
  background: -moz-linear-gradient(left,  #00aeef 0%, #fff200 33%, #ff1561 64%, #00aeef 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00aeef), color-stop(33%,#fff200), color-stop(64%,#ff1561), color-stop(100%,#00aeef)); 
  background: -webkit-linear-gradient(left,  #00aeef 0%,#fff200 33%,#ff1561 64%,#00aeef 100%);
  background: -o-linear-gradient(left,  #00aeef 0%,#fff200 33%,#ff1561 64%,#00aeef 100%); 
  background: -ms-linear-gradient(left,  #00aeef 0%,#fff200 33%,#ff1561 64%,#00aeef 100%); 
  background: linear-gradient(to right,  #00aeef 0%,#fff200 33%,#ff1561 64%,#00aeef 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#00aeef',GradientType=1 );

  /* GOLD */
  background: #6d5c0b; 
  background: -moz-linear-gradient(left,  #6d5c0b 2%, #d9c35d 23%, #d9c35d 23%, #d9c35d 28%, #6d5c0b 51%, #d9c35d 77%, #6d5c0b 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(2%,#6d5c0b), color-stop(23%,#d9c35d), color-stop(23%,#d9c35d), color-stop(28%,#d9c35d), color-stop(51%,#6d5c0b), color-stop(77%,#d9c35d), color-stop(100%,#6d5c0b));
  background: -webkit-linear-gradient(left,  #6d5c0b 2%,#d9c35d 23%,#d9c35d 23%,#d9c35d 28%,#6d5c0b 51%,#d9c35d 77%,#6d5c0b 100%); 
  background: -o-linear-gradient(left,  #6d5c0b 2%,#d9c35d 23%,#d9c35d 23%,#d9c35d 28%,#6d5c0b 51%,#d9c35d 77%,#6d5c0b 100%);
  background: -ms-linear-gradient(left,  #6d5c0b 2%,#d9c35d 23%,#d9c35d 23%,#d9c35d 28%,#6d5c0b 51%,#d9c35d 77%,#6d5c0b 100%); 
  background: linear-gradient(to right,  #6d5c0b 2%,#d9c35d 23%,#d9c35d 23%,#d9c35d 28%,#6d5c0b 51%,#d9c35d 77%,#6d5c0b 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d5c0b', endColorstr='#6d5c0b',GradientType=1 ); 
}

/* NAV STYLES */

.navbar {
  font-size: 13pt;
  height: auto;
}

.navbar-nav li a {
  margin: 40px 20px;
  padding: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d9a792;
}

.borderSlide:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.borderSlide:hover:after {
  width: 100%;
  background: #d9a792;
}

/* overrides Bootstrap*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
background-color: white;

  }

.navbar-inner {
  background-color: white;
}

.navbar {
  margin-bottom: 0;
}

/* Dropwdown styles */

.dropdown-menu > li > a {
  margin: ;
  display: inline-block !important;
 /* This makes the dropdown menu appear less tall */
}

.dropdown-menu {
  padding: 0;
  border-color: #E0E0E0;
}

.dropdown-menu > li > a {
  margin: 5px;
  color: #333333;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #d9a792;
}

.open > ul {
  display: inline-flex !important;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: inline-flex !important;
    float: left;
  }
}
/* HOME PAGE STYLES */

/* home page carousel */
.carousel {
  height: 50%;
}
.fill {
  -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.90);
  -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0,0.90);
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.90);
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
    height: 460px;
}

.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-control.left {
    background-image: none!important ;
    height: 460px; 
}

.carousel-control.right {
    background-image: none!important ;
    height: 460px; 
}

.carousel-indicators {
    z-index: 2;    
}

.indicators {
    z-index: 1;
    width: 20%;
    margin-left: 40%;
}

/* home page boxes */

.boxContainer {
  margin: 5% 0%;
  text-align: center;
}

.homeBox {
   height: 300px;
}

.homeBox img {
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
  -moz-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

.homeBox img:hover {
  filter: saturate(150%);
  -webkit-filter: saturate(150%);
  -moz-filter: saturate(150%);
  -o-filter: saturate(150%);
  -ms-filter: saturate(150%);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.borderLine {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

/* BRANDS PAGE STYLES */

/* category styles */

.categoriesContainer {
  text-align: center;
  background-color: #f2f2f2;
}

.categoryItem {
  overflow: hidden; 
  width: 13%; 
  height: 100px; 
  margin: 3%; 
  float: left;
}

.sel {
    color: red;
}

/* brands styles */

.brandsContainer {
  overflow: hidden; 
  background-color: gray; 
  width: 15%; 
  height: 200px; 
  margin: 2.5%; 
  float: left;
}

/* ABOUT US STYLES */

.aboutUs h1 {
  color: #182640;
}

.aboutUs h3 {
  margin-top: 0px;
}

.aboutUs p {
  margin: 0;
}

.visionContainer {
  width: 48%;
  float: left;
  padding-left: 2%;
  margin-left: 2%;
  margin-top: 50px;
  border-left: 1px solid #ffa100;
}

.missionContainer {
  width: 48%;
  float: right;
  padding-left: 2%;
  margin-left: 2%;
  margin-top: 50px;
  border-left: 1px solid #ffa100;
}

.valueHeadline {
  margin-top: 50px;
  text-align: center;
}

.valueContainer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border: 1px solid #e4e4e4;
}

.value {
  margin-top: 10px;
}

.logoDesc {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* NEWS & EVENTS STYLES */

.newsContainer {

}

.newsInstance {
  margin-bottom: 20px;
  height: 100px; 
}

  .newsDateTime {
    height: 100px;
    background-color: #1c1c1c;
    color: white;
  }

  .newsDesc {
   /* overflow: hidden;
    text-overflow: ellipsis; */
    padding: 0;
    height: 100px;
    background-color: #e4e4e4;
  }

  .newsDesc h1 {
    
  }

  .newsImg {
    padding: 0;
    overflow: hidden;
    height: 100px;
  }

  .newsImg img {
    width: 100%;
  }

  .newsInfo {
    text-align: center;
    color: white;
    height: 100px;
    background-color: #80807f;
  }

  .newsInfo:hover {
    color: white;
    height: 100px;
    background-color: #1c1c1c;
  }

  .newsInfo h4 {
    padding-top: 20px;
  }


.eventsContainer {

}

.eventInstance {
  margin-bottom: 20px;
}

.eventFilter ul {
  padding: 0;
  height: 130px;
}

.eventFilter ul li {
  float: left;
  height: 30px;
  width: 13%;
  margin: 5px;
  padding: 5px;
  background-color: #e4e4e4;
  text-align: center;
  color: white;
}

.lit {
  background-color: #80807f !important;
}

/* CONTACT US STYLES */

.map {
  float: right;
  height: 340px;
  width: 30%;
  border-radius: 60%;
  margin-top: 40px;
  margin-right: 140px;
  margin-bottom: 35px;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  -moz-box-shadow:     0 0 4px #000000;
  -webkit-box-shadow:  0 0 4px #000000;
  box-shadow:         0 0 4px #000000;
}

.mapbox {
  margin-top: 70px;
  margin-left: 45px;
}

.mapContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border: 1px solid #e4e4e4;
}

.topic {
  overflow: hidden;
  height: 250px;
  width: 100%;
  background-color: black;
}

/* RESPONSIVE STYLES */

@media(max-width:767px) {
    
    .carousel .carousel {
        height: 70%;
    }
}